.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 24px;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 45px;
  }

  .input {
    margin-top: 48px;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }

  .button {
    position: fixed;
    bottom: 20px;
    right: 20px;

    @include media-breakpoint-up(lg) {
      position: static;
    }
  }
}
