.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  margin-top: 48px;

  @include media-breakpoint-up(md) {
    margin-top: 150px;
    grid-template-columns: repeat(3, auto);
  }

  @include media-breakpoint-up(lg) {
    margin-top: 150px;
    grid-template-columns: repeat(3, auto);
  }

  //   @include media-breakpoint-up(xl) {
  //     margin-top: 150px;
  //     grid-template-columns: repeat(6, auto);
  //   }
}
